<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>
<h3>{{ userInput }}</h3>
<!-- a {{}} közötti részt az Angular modul kiértékeli, illetve ha az
abban megjelenített változók bármelyike változik, automatikusan újraértékeli -->

<input type="text" [(ngModel)]="userInput" />
<!-- minden egyes leütéssel frissül automatikusan a userInput változó minden reprezentációja, ez a two-way binding lényege -->
<button (click)="addElement()">ADD</button>

<p *ngIf="userInput === 'titkosjelszó'">Tudtad a jelszót, gratulálok</p>

<div>
  <ul>
    <li *ngFor="let l of lista" (click)="removeElement(l)">{{ l }}</li>
  </ul>
</div>

<!-- Próbáljuk ki mi történik, ha a userInputnak van értéke és mi történik ha nincs, vagy üres string! -->
<a [routerLink]="['/parameter/' + userInput, { korabbi: lista }]"
  >Át a ParaméterPróbára</a
>
<!-- a route után megadott objektum opcionális paraméter, az url részeként kerül majd átküldésre a másik komponensnek, de a megléte nem kötelező, nincs ellenőrizve -->
